* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#practise1 {
  width: 100%;
  height: 30vh;
  background-color: #ccc;
  background: linear-gradient(130deg, rgb(121, 121, 220) 40%, transparent 50%)
      center center/100% 100%,
    url("https://picsum.photos/500/300") right center/cover;
  .container {
    height: 100%;
    .left {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateX(-20%);

      h1 {
        border-bottom: 1px solid rgb(213, 58, 58);
      }
    }
  }
}

#practise2 {
  width: 100%;
  height: 30vh;
  background-color: gray;
  display: flex;
  flex-direction: row;

  .container {
    width: 25%;
    height: 30vh;
    background-color: black;
    background: url("https://picsum.photos/400/300");
    display: flex;
    justify-content: center;
    align-items: center;
    .texthover {
      opacity: 0;
    }
    &:hover {
      .texthover {
        display: flex;
        flex-wrap: wrap;
        color: aliceblue;
        justify-content: center;
        align-content: center;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0.5;
        width: 100%;
        height: 100%;
        transition: opacity 0.5s;
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          background-color: aquamarine;
        }
      }
      .text {
        display: none;
      }
    }
  }
}

#practise3 {
  .container {
    display: flex;
    margin: auto;
    width: 1200px;

    .wrap {
      width: 33%;
      margin: 15px;
      text-align: center;
      border: 1px gray solid;
      position: relative;
      transform: translateY(0);
      transition: all 0.5s;
      img {
        width: 100%;
        height: 300px;
        vertical-align: middle;
      }
      &:hover {
        transform: translateY(-30%);
        .text {
          color: blue;
          background-color: rgb(89, 184, 227);
          &::before {
            border-left: 184px solid rgb(89, 184, 227);
            border-right: 184px solid rgb(89, 184, 227);
          }
        }
      }
      .text {
        transition: all 0.5s;
        &::before {
          transition: all 0.5s;
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          left: 0;
          // top: 0;
          border-top: 65px solid transparent;
          border-left: 184px solid white;
          border-right: 185px solid white;
          transform: translateY(-100%);
        }
        h2 {
          border-bottom: 1px solid gray;
          margin-bottom: 0.5rem;
          padding-bottom: 00.5rem;
          font-weight: 600;
        }
        p {
          padding: 16px;
          line-height: 1.5rem;
        }
      }
    }
  }
}

@import "./styles/practiseday2.scss";
@import "./styles/practise3.scss";
@import "./styles/practise4";
