* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#practise1 {
  width: 100%;
  height: 30vh;
  background-color: #ccc;
  background: linear-gradient(130deg, rgb(121, 121, 220) 40%, transparent 50%) center center/100% 100%, url("https://picsum.photos/500/300") right center/cover;
}
#practise1 .container {
  height: 100%;
}
#practise1 .container .left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-20%);
}
#practise1 .container .left h1 {
  border-bottom: 1px solid rgb(213, 58, 58);
}

#practise2 {
  width: 100%;
  height: 30vh;
  background-color: gray;
  display: flex;
  flex-direction: row;
}
#practise2 .container {
  width: 25%;
  height: 30vh;
  background-color: black;
  background: url("https://picsum.photos/400/300");
  display: flex;
  justify-content: center;
  align-items: center;
}
#practise2 .container .texthover {
  opacity: 0;
}
#practise2 .container:hover .texthover {
  display: flex;
  flex-wrap: wrap;
  color: aliceblue;
  justify-content: center;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.5;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s;
}
#practise2 .container:hover .texthover::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: aquamarine;
}
#practise2 .container:hover .text {
  display: none;
}

#practise3 .container {
  display: flex;
  margin: auto;
  width: 1200px;
}
#practise3 .container .wrap {
  width: 33%;
  margin: 15px;
  text-align: center;
  border: 1px gray solid;
  position: relative;
  transform: translateY(0);
  transition: all 0.5s;
}
#practise3 .container .wrap img {
  width: 100%;
  height: 300px;
  vertical-align: middle;
}
#practise3 .container .wrap:hover {
  transform: translateY(-30%);
}
#practise3 .container .wrap:hover .text {
  color: blue;
  background-color: rgb(89, 184, 227);
}
#practise3 .container .wrap:hover .text::before {
  border-left: 184px solid rgb(89, 184, 227);
  border-right: 184px solid rgb(89, 184, 227);
}
#practise3 .container .wrap .text {
  transition: all 0.5s;
}
#practise3 .container .wrap .text::before {
  transition: all 0.5s;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  border-top: 65px solid transparent;
  border-left: 184px solid white;
  border-right: 185px solid white;
  transform: translateY(-100%);
}
#practise3 .container .wrap .text h2 {
  border-bottom: 1px solid gray;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
}
#practise3 .container .wrap .text p {
  padding: 16px;
  line-height: 1.5rem;
}

#practiseday2 {
  padding: 100px;
  margin: auto;
  background: linear-gradient(35deg, rgb(34, 142, 209), rgb(239, 236, 233)) fixed center center/100% 100%;
}
#practiseday2 .item {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
#practiseday2 .item > :first-child {
  margin-right: -10%;
}
#practiseday2 .item:nth-child(1) .text {
  background-color: rgba(255, 0, 0, 0.3);
}
#practiseday2 .item:nth-child(2) .text {
  background-color: rgba(0, 0, 255, 0.3);
}
#practiseday2 .item:nth-child(3) .text {
  background-color: rgba(255, 255, 0, 0.3);
}
#practiseday2 .item:nth-child(4) .text {
  background-color: rgba(0, 128, 0, 0.3);
}
#practiseday2 .item .pic {
  width: 55%;
}
#practiseday2 .item .pic img {
  width: 100%;
  vertical-align: middle;
}
#practiseday2 .item .text {
  width: 55%;
  z-index: 1;
  padding: 50px 30px;
}
#practiseday2 .item .text h2 {
  font-weight: 600;
  font-size: 2rem;
}
#practiseday2 .item .text p {
  font-weight: 300;
}

#practise3 {
  height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(120deg, rgb(99, 99, 204), white);
}
#practise3 .item {
  width: 400px;
  height: 250px;
  display: flex;
  margin: 2rem;
  box-shadow: 0 10px 30px rgba(22, 65, 165, 0.5);
}
#practise3 .item .pic {
  width: 50%;
}
#practise3 .item .pic img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
#practise3 .item .text {
  width: 50%;
  height: 100%;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  line-height: 1.5rem;
  background-color: white;
}
#practise3 .item .text h2 {
  align-self: center;
  padding: 0.5rem;
}
#practise3 .item .text button {
  margin: 1rem 0;
  align-self: flex-end;
  margin-right: 1rem;
  border: 1px solid blue;
  border-radius: 20%;
  width: 3rem;
  text-decoration: none;
  background-color: transparent;
}
#practise3 .item .text button:hover {
  background-color: beige;
  color: gray;
}

.practise4 {
  background-color: black;
  height: 100vh;
  width: 100%;
}
.practise4 .footer {
  color: white;
  background-color: rgb(26, 128, 128);
  margin: auto;
}
.practise4 .footer .container {
  height: 30vh;
  background-image: linear-gradient(120deg, rgb(78, 140, 189), rgb(51, 51, 170));
  width: 100%;
  padding-top: 3rem;
  display: flex;
  color: white;
  margin: auto;
}
.practise4 .footer .container .item:last-child {
  display: flex;
  flex-direction: column;
}
.practise4 .footer .container .item:last-child form {
  width: 100%;
  margin: auto;
}
.practise4 .footer .container .item {
  width: 0;
  flex-grow: 1;
  margin: 0 3rem;
}
.practise4 .footer .container .item h2 {
  padding: 0.5rem;
  border-bottom: 2px solid white;
  margin-bottom: 0.5rem;
}
.practise4 .footer .container .item ul li {
  padding: 0.3rem;
}
.practise4 .footer .container .item ul li:hover {
  color: rgb(235, 138, 21);
}
.practise4 .footer .container .item input {
  border: none;
  padding: 0.3rem 0.5rem;
  color: white;
}
.practise4 .footer .container .item input[type=button] {
  background-color: aquamarine;
}
.practise4 .copyright {
  text-align: center;
  padding: 1rem;
}

.practise5 .nav {
  padding: 1rem;
  height: 10vh;
  background-image: linear-gradient(90deg, rgb(87, 75, 75), gray);
}
.practise5 .nav .navbar ol {
  margin: 0 2rem;
  display: flex;
}
.practise5 .nav .navbar ol li {
  position: relative;
  margin: auto;
  list-style: none;
  border: none;
}
.practise5 .nav .navbar ol li img {
  width: 15%;
  height: 10vh;
}
.practise5 .nav .navbar ol li input {
  padding: 0.3rem;
  margin: 0.3rem;
  border-radius: 30%;
}
.practise5 .nav .navbar ol li input:focus {
  outline: none;
}
.practise5 .nav .navbar ol li button {
  padding: 0.3rem;
  background-color: white;
  border-radius: 25%;
}
.practise5 .nav .navbar ol li a {
  color: white;
  font-size: 36px;
  font-weight: 600;
  text-decoration: none;
}
.practise5 .nav .navbar ol li {
  transition: all 0.5s;
  transform: translateY(0);
}
.practise5 .nav .navbar ol li:hover {
  transform: translateY(-10px);
}
.practise5 .nav .navbar ol li a:after {
  content: " ";
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -10px;
  border-bottom: 1px solid white;
  transition: all 0.5s;
}
.practise5 .nav .navbar ol li a:hover:after {
  content: " ";
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: -10px;
  border-bottom: 1px solid white;
}/*# sourceMappingURL=practise.css.map */